.fnt-marker {
  font-family: 'Permanent Marker', sans-serif !important;
}
.fnt-nunito {
  font-family: 'Nunito', sans-serif !important;
}
.fnt-poppins {
  font-family: 'Poppins', sans-serif !important;
}
.fnt-indie {
  font-family: 'Indie Flower', cursive !important;
}
.fnt-montserrat {
  font-family: 'Montserrat', sans-serif !important;;
}


.fnt-lora {
  font-family: 'Lora', serif !important;
}
.fnt-merri {
  font-family: 'Merriweather', serif;
}





//weight

.text-bold {

  font-weight: bold;
}
