// margin and padding
$spaceamounts: (0, 1, 2, 3,4, 5,6,7,8,9, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}

// fontsize
@for $i from 6 through 198 {
  .fnt-#{$i} {
    font-size: #{$i}px !important;
  }
  @media (max-width: 576px) {
    .fnt-#{$i} {
      @if( $i > 48) {
        font-size: 48px !important;
      }
    }
  }
  @media (max-width: 992px) and (min-width: 577px) {
    .fnt-#{$i} {
      @if( $i > 96) {
        font-size: 96px !important;
      }
    }
  }
}

$amounts: (10,20,30,40,50,60,70,80,90, 100, 150, 200,250, 300, 350, 400, 450, 500, 550, 600, 650, 700,800,900,1000,1100, 1200, 1300, 1400, 1500, 1600);
@each $amount in $amounts {
  .xh-#{$amount} {
    height: #{$amount}px !important;
  }
  .xh-min-#{$amount} {
    min-height: #{$amount}px !important;
  }
  .xh-max-#{$amount} {
    max-height: #{$amount}px !important;
  }
  .xw-#{$amount} {
    width: #{$amount}px !important;
  }
  .xw-min-#{$amount} {
    min-width: #{$amount}px !important;
  }
  .xw-max-#{$amount} {
    max-width: #{$amount}px !important;
  }
}

$percents: ( 5,10, 15,20,25,30,35,40,45,50,55,60,65 ,70,75,80,85,90,95,100);

@each $perc in $percents {
  .vh-#{$perc} {
    height: #{$perc}vh !important;
  }
  .vh-min-#{$perc} {
    min-height: #{$perc}vh !important;
  }
  .vh-min-#{$perc} {
    max-height: #{$perc}vh !important;
  }
  .vw-#{$perc} {
    width: #{$perc}vw !important;
  }
  .vw-min-#{$perc} {
    min-width: #{$perc}vw !important;
  }
  .v-max-#{$perc} {
    max-width: #{$perc}vw !important;
  }
}
